In [12]:
import ibm_db
import pandas as pd

In [13]:
dsn_hostname = "54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"
dsn_uid = "kcx78143"
dsn_pwd = "lQbKwBeEbaNmSdRF"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"
dsn_port = "32733"
dsn_protocol = "TCPIP"
dsn_security = "SSL"

In [14]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud;PORT=32733;PROTOCOL=TCPIP;UID=kcx78143;PWD=lQbKwBeEbaNmSdRF;SECURITY=SSL;

In [15]:
%load_ext sql
conn =ibm_db.connect(dsn, "","")

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [16]:

%sql ibm_db_sa://kcx78143:lQbKwBeEbaNmSdRF@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB?security=SSL

'Connected: kcx78143@BLUDB'

In [17]:
import ibm_db_dbi

In [18]:

big_table = %sql SELECT * FROM car JOIN rent ON rent.year = car.year JOIN income_food ON income_food.year = rent.year JOIN healthcare ON healthcare.year = income_food.year JOIN home_price ON home_price.year = healthcare.year
big_table

 * ibm_db_sa://kcx78143:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(2021, 8849, Decimal('106.89735796118800'), 2021, 1191, 14292, Decimal('97.840531561461800'), 2021, 70784, Decimal('68.573469873779500'), 25900, 44884, 4987, Decimal('-3.985367731998450'), 65797, 8289, Decimal('60.70182241178750'), 57508, 2021, Decimal('5969.000'), Decimal('268.6843730697960'), 396800, Decimal('136.82482840943000'), 2021),
 (2020, 8305, Decimal('94.17816226326870'), 2020, 1096, 13152, Decimal('82.059800664451800'), 2020, 68010, Decimal('61.967135032150500'), 24800, 43210, 4792, Decimal('-7.739699653446280'), 63218, 7316, Decimal('41.83792167506790'), 55902, 2020, Decimal('5588.000'), Decimal('245.1513279802350'), 336950, Decimal('101.10414801551800'), 2020),
 (2019, 8011, Decimal('87.30418517652560'), 2019, 1062, 12744, Decimal('76.411960132890400'), 2019, 68703, Decimal('63.617527982853100'), 24400, 44303, 4931, Decimal('-5.063534847901420'), 63772, 8169, Decimal('58.37533927879030'), 55603, 2019, Decimal('6015.000'), Decimal('271.5256331068560'), 320250, Decimal('91.13697403760070'), 2019),
 (2018, 7513, Decimal('75.66050970306290'), 2018, 1023, 12276, Decimal('69.933554817275700'), 2018, 63179, Decimal('50.462014765420400'), 24000, 39179, 4320, Decimal('-16.827108201771300'), 58859, 7923, Decimal('53.60604885614580'), 50936, 2018, Decimal('5547.000'), Decimal('242.6189005558990'), 325275, Decimal('94.13607878245300'), 2018),
 (2017, 6986, Decimal('63.33878887070380'), 2017, 982, 11784, Decimal('63.122923588039900'), 2017, 61372, Decimal('46.158609192664900'), 12700, 48672, 6369, Decimal('22.622256449749700'), 55003, 7729, Decimal('49.84490112446680'), 47274, 2017, Decimal('5714.000'), Decimal('252.9339098208770'), 322425, Decimal('92.43509400179050'), 2017),
 (2016, 6950, Decimal('62.49707739069440'), 2016, 949, 11388, Decimal('57.641196013289000'), 2016, 59039, Decimal('40.602524410574000'), 12600, 46439, 6036, Decimal('16.211012706969600'), 53003, 7203, Decimal('39.64715005816210'), 45800, 2016, Decimal('5277.000'), Decimal('225.9419394688080'), 305125, Decimal('82.10981796478660'), 2016),
 (2015, 6994, Decimal('63.52583586626140'), 2015, 928, 11136, Decimal('54.152823920265800'), 2015, 56516, Decimal('34.593950940700200'), 12600, 43916, 5666, Decimal('9.087408548324990'), 50850, 7023, Decimal('36.15742535866620'), 43827, 2015, Decimal('4955.000'), Decimal('206.0531192093890'), 294150, Decimal('75.55953446732320'), 2015),
 (2014, 7128, Decimal('66.65887304185180'), 2014, 920, 11040, Decimal('52.823920265780700'), 2014, 53657, Decimal('27.785186949273600'), 12400, 41257, 5284, Decimal('1.732768579129770'), 48373, 6759, Decimal('31.03916246607210'), 41614, 2014, Decimal('4823.000'), Decimal('197.8999382334770'), 285775, Decimal('70.56102655923600'), 2014),
 (2013, 7177, Decimal('67.80453588964230'), 2013, 904, 10848, Decimal('50.166112956810700'), 2013, 51939, Decimal('23.693736603953300'), 12200, 39739, 5066, Decimal('-2.464381979206780'), 46873, 6602, Decimal('27.99534703373400'), 40271, 2013, Decimal('4565.000'), Decimal('181.9641754169240'), 266225, Decimal('58.89286780065650'), 2013),
 (2012, 6917, Decimal('61.72550853401920'), 2012, 889, 10668, Decimal('47.674418604651200'), 2012, 51017, Decimal('21.497975708502000'), 11900, 39117, 4999, Decimal('-3.754331921447830'), 46018, 6599, Decimal('27.93718495540910'), 39419, 2012, Decimal('4316.000'), Decimal('166.5843113032740'), 244400, Decimal('45.86690540137270'), 2012),
 (2011, 6674, Decimal('56.04395604395610'), 2011, 871, 10452, Decimal('44.684385382059800'), 2011, 50054, Decimal('19.204572517266000'), 11600, 38454, 4921, Decimal('-5.256064690026950'), 45133, 6458, Decimal('25.20356727413730'), 38675, 2011, Decimal('4129.000'), Decimal('155.0339715874000'), 224900, Decimal('34.22858848105040'), 2011),
 (2010, 6233, Decimal('45.73299041384150'), 2010, 841, 10092, Decimal('39.700996677740900'), 2010, 49276, Decimal('17.351750416765900'), 11400, 37876, 4844, Decimal('-6.738544474393520'), 44432, 6129, Decimal('18.82512601783640'), 38303, 2010, Decimal('3997.000'), Decimal('146.8807906114890'), 222700, Decimal('32.91554759773200'), 2010),
 (2009, 5884, Decimal('37.57306523263970'), 2009, 691, 8292, Decimal('14.784053156146200'), 2009, 49777, Decimal('18.544891640866900'), 11400, 38377, 4921, Decimal('-5.256064690026950'), 44856, 6372, Decimal('23.53625436215590'), 38484, 2009, Decimal('3515.000'), Decimal('117.1093267449040'), 215650, Decimal('28.70784840346170'), 2009),
 (2008, 5987, Decimal('39.98129530044420'), 2008, 676, 8112, Decimal('12.292358803986700'), 2008, 50303, Decimal('19.797570850202400'), 10900, 39403, 5111, Decimal('-1.597997689641900'), 45192, 6443, Decimal('24.91275688251260'), 38749, 2008, Decimal('3354.000'), Decimal('107.1649166151950'), 229550, Decimal('37.00387943897340'), 2008),
 (2007, 5492, Decimal('28.40776245031560'), 2007, 652, 7824, Decimal('8.305647840531560'), 2007, 50233, Decimal('19.630864491545600'), 10700, 39533, 5146, Decimal('-0.924143242202547'), 45087, 6133, Decimal('18.90267545560300'), 38954, 2007, Decimal('3281.000'), Decimal('102.6559604694260'), 244950, Decimal('46.19516562220230'), 2007),
 (2006, 5356, Decimal('25.22796352583590'), 2006, 625, 7500, Decimal('3.820598006644520'), 2006, 48201, Decimal('14.791617051679000'), 10300, 37901, 4934, Decimal('-5.005775895263770'), 43267, 6111, Decimal('18.47615354788680'), 37156, 2006, Decimal('2973.000'), Decimal('83.6318715256331'), 243750, Decimal('45.47896150402870'), 2006),
 (2005, 5511, Decimal('28.85199906476500'), 2005, 604, 7248, Decimal('0.332225913621258'), 2005, 46326, Decimal('10.326268159085500'), 10000, 36326, 4719, Decimal('-9.145167500962640'), 41607, 5931, Decimal('14.98642884839090'), 35676, 2005, Decimal('2713.000'), Decimal('67.5725756639901'), 236550, Decimal('41.18173679498660'), 2005),
 (2004, 5389, Decimal('25.99953238251110'), 2004, 603, 7236, Decimal('0.166112956810636'), 2004, 44334, Decimal('5.582281495594190'), 9700, 34634, 4479, Decimal('-13.765883711975400'), 39855, 5781, Decimal('12.07832493214420'), 34074, 2004, Decimal('2661.000'), Decimal('64.3607164916615'), 218150, Decimal('30.19994031632350'), 2004),
 (2003, 4799, Decimal('12.20481646013560'), 2003, 603, 7236, Decimal('0.166112956810636'), 2003, 43318, Decimal('3.162657775660880'), 9500, 33818, 4374, Decimal('-15.787447054293400'), 38944, 5340, Decimal('3.52849941837923'), 33604, 2003, Decimal('2412.000'), Decimal('48.9808523780111'), 192125, Decimal('14.66726350343180'), 2003),
 (2002, 4567, Decimal('6.78045358896422'), 2002, 603, 7236, Decimal('0.166112956810636'), 2002, 42409, Decimal('0.997856632531551'), 7850, 34559, 4586, Decimal('-11.705814401232200'), 37823, 5375, Decimal('4.20705699883676'), 32448, 2002, Decimal('2137.000'), Decimal('31.9950586781964'), 186025, Decimal('11.02655923604890'), 2002),
 (2001, 4590, Decimal('7.31821370119243'), 2001, 603, 7236, Decimal('0.166112956810636'), 2001, 42228, Decimal('0.566801619433193'), 7600, 34628, 5194, Decimal('100.000000000000000'), 37034, 5321, Decimal('3.16013958898797'), 31713, 2001, Decimal('1787.000'), Decimal('10.3767757875232'), 173100, Decimal('3.31244404655327'), 2001),
 (2000, 4277, Decimal('0E-14'), 2000, 602, 7224, Decimal('0E-15'), 2000, 41990, Decimal('0E-15'), 7350, 34640, 5194, Decimal('0E-15'), 36796, 5158, Decimal('0E-14'), 31638, 2000, Decimal('1619.000'), Decimal('0E-13'), 167550, Decimal('0E-14'), 2000)]

In [19]:
df = pd.DataFrame(data=big_table, columns = ['year', 'cost of one car', 'car_perc_increase', 'year 2', 'median monthly rent','yearly rent', 'rent_perc_increase', 'year_3', 'median household income', 'income_perc_increase', 'standard deduction', 'taxable income', 'income tax', 'tax_perc_increase', 'income after fed tax', 'food cost', 'food_perc_increase','after fed and food', 'year 4', 'family insurance cost', 'healthcare_perc_increase','new home price', 'home_perc_increase', 'year 5'])
df.head()

,year,cost of one car,car_perc_increase,year 2,median monthly rent,yearly rent,rent_perc_increase,year_3,median household income,income_perc_increase,...,income after fed tax,food cost,food_perc_increase,after fed and food,year 4,family insurance cost,healthcare_perc_increase,new home price,home_perc_increase,year 5
0,2021,8849,106.89735796118800,2021,1191,14292,97.840531561461800,2021,70784,68.573469873779500,...,65797,8289,60.70182241178750,57508,2021,5969.000,268.6843730697960,396800,136.82482840943000,2021
1,2020,8305,94.17816226326870,2020,1096,13152,82.059800664451800,2020,68010,61.967135032150500,...,63218,7316,41.83792167506790,55902,2020,5588.000,245.1513279802350,336950,101.10414801551800,2020
2,2019,8011,87.30418517652560,2019,1062,12744,76.411960132890400,2019,68703,63.617527982853100,...,63772,8169,58.37533927879030,55603,2019,6015.000,271.5256331068560,320250,91.13697403760070,2019
3,2018,7513,75.66050970306290,2018,1023,12276,69.933554817275700,2018,63179,50.462014765420400,...,58859,7923,53.60604885614580,50936,2018,5547.000,242.6189005558990,325275,94.13607878245300,2018
4,2017,6986,63.33878887070380,2017,982,11784,63.122923588039900,2017,61372,46.158609192664900,...,55003,7729,49.84490112446680,47274,2017,5714.000,252.9339098208770,322425,92.43509400179050,2017

In [20]:
df = df.drop(['year 2', 'year_3', 'year 4', 'year 5', 'standard deduction', 'taxable income'], axis = 1)
df.head()

,year,cost of one car,car_perc_increase,median monthly rent,yearly rent,rent_perc_increase,median household income,income_perc_increase,income tax,tax_perc_increase,income after fed tax,food cost,food_perc_increase,after fed and food,family insurance cost,healthcare_perc_increase,new home price,home_perc_increase
0,2021,8849,106.89735796118800,1191,14292,97.840531561461800,70784,68.573469873779500,4987,-3.985367731998450,65797,8289,60.70182241178750,57508,5969.000,268.6843730697960,396800,136.82482840943000
1,2020,8305,94.17816226326870,1096,13152,82.059800664451800,68010,61.967135032150500,4792,-7.739699653446280,63218,7316,41.83792167506790,55902,5588.000,245.1513279802350,336950,101.10414801551800
2,2019,8011,87.30418517652560,1062,12744,76.411960132890400,68703,63.617527982853100,4931,-5.063534847901420,63772,8169,58.37533927879030,55603,6015.000,271.5256331068560,320250,91.13697403760070
3,2018,7513,75.66050970306290,1023,12276,69.933554817275700,63179,50.462014765420400,4320,-16.827108201771300,58859,7923,53.60604885614580,50936,5547.000,242.6189005558990,325275,94.13607878245300
4,2017,6986,63.33878887070380,982,11784,63.122923588039900,61372,46.158609192664900,6369,22.622256449749700,55003,7729,49.84490112446680,47274,5714.000,252.9339098208770,322425,92.43509400179050

In [21]:
df['money after basics (unadjusted)'] = df['median household income'] - df['yearly rent'] - (df['cost of one car'] * 2) - df['income tax'] - df['food cost'] - df['family insurance cost']

In [22]:
df['money after basics (unadjusted)'] = df['money after basics (unadjusted)'].astype('int64')

In [23]:
df['years to 15% down payment (100% savings rate)'] = df['new home price'] / df['money after basics (unadjusted)'] * 0.15

In [24]:
df.head()

,year,cost of one car,car_perc_increase,median monthly rent,yearly rent,rent_perc_increase,median household income,income_perc_increase,income tax,tax_perc_increase,income after fed tax,food cost,food_perc_increase,after fed and food,family insurance cost,healthcare_perc_increase,new home price,home_perc_increase,money after basics (unadjusted),years to 15% down payment (100% savings rate)
0,2021,8849,106.89735796118800,1191,14292,97.840531561461800,70784,68.573469873779500,4987,-3.985367731998450,65797,8289,60.70182241178750,57508,5969.000,268.6843730697960,396800,136.82482840943000,19549,3.044657
1,2020,8305,94.17816226326870,1096,13152,82.059800664451800,68010,61.967135032150500,4792,-7.739699653446280,63218,7316,41.83792167506790,55902,5588.000,245.1513279802350,336950,101.10414801551800,20552,2.459250
2,2019,8011,87.30418517652560,1062,12744,76.411960132890400,68703,63.617527982853100,4931,-5.063534847901420,63772,8169,58.37533927879030,55603,6015.000,271.5256331068560,320250,91.13697403760070,20822,2.307055
3,2018,7513,75.66050970306290,1023,12276,69.933554817275700,63179,50.462014765420400,4320,-16.827108201771300,58859,7923,53.60604885614580,50936,5547.000,242.6189005558990,325275,94.13607878245300,18087,2.697587
4,2017,6986,63.33878887070380,982,11784,63.122923588039900,61372,46.158609192664900,6369,22.622256449749700,55003,7729,49.84490112446680,47274,5714.000,252.9339098208770,322425,92.43509400179050,15804,3.060222

In [25]:
df.to_csv('/resources/labs/DB0201EN/df2.csv')